﻿@model E4BIGSCHOOL.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}

<main>
   <div class="row">
       <ul class="course">
           @foreach(var course  in Model.UpcommingCourses)
        
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.Date.ToString("MM")
                        </div>
                        <div class="day">
                            @course.Date.ToString("dd")
                        </div>
                    </div>
                    <div class="detail">
                        <span class="lecturer">
                            @course.Lecturer.Name
                            @if (Model.ShowAction) 
                            { 
                             <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                                 Following
                             </button>       
                             }
                        </span>
                        <span class="category">
                            @course.Category.Name
                            @if (Model.ShowAction)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">
                                    Going?
                                </button>
                            }

                        </span>
                    </div>

                </li>
            }
       </ul>
   </div>
</main>



@section scripts{

    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);

                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });


        });


    </script>

}