﻿/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse .navbar-nav > li > a{
   
    color:white;
}

.navbar-inverse {
    background-color: #d41d50;
    border-color: #fbf6f6;
    
}

.navbar-inverse .navbar-brand {
    color:white;
}

.navbar{
    background-color:cadetblue !important;
}

//Course Layout

.course {
    list-style: none;
}

.course > li {
    position: relative;
    margin-bottom: 30px;
}

.course > li .date{
    text-align: center;
    background-color: #d41d50;
    color: white;
    width: 60px;
    border-radius:8px;
} 
.course > li .detail{
    position : absolute;
    top: 0;
    left: 70px;
    display: flex;
    flex-direction : column;
}